<div class='cherry__container layout-column'>
	<div class='flex'>
	</div>
	{{outlet}}

	<footer class='cherry__footer layout-row layout-align-space-between-center'>
		<h1 class='footer__title'>Double Double</h1>

		<div class='layout-row'>
			<img src='../assets/img/textai.png' class='ai__icon' />
		</div>
	</footer>
</div>
