<div class='tools-index layout-column layout-align-center-center'>
	{{#swiper-container currentSlide=currentTool loop=true centered=true slidesPerView=4 class='slides__container'}}
	  {{#swiper-slide class='tool__slide'}}
			{{#tool-slide title='False Faces' prevUses=4}}
				<h1 class='slide-main'>Reverse your assumptions to find solutions to new problems</h1>
				<h2 class='slide-sub'>AI: Image Recognition, Audio Detection</h2>
			{{/tool-slide}}
		{{/swiper-slide}}

	  {{#swiper-slide class='tool__slide'}}
			{{#link-to 'tools.cherry-split'}}
			{{#tool-slide title='Cherry Split' prevUses=2}}
				<h1 class='slide-main'>Split your ideas, divide and conquer!</h1>
				<h2 class='slide-sub'>AI: Word Association</h2>
			{{/tool-slide}}
			{{/link-to}}
		{{/swiper-slide}}

	  {{#swiper-slide class='tool__slide'}}
				{{#tool-slide title='Lotus Blossom' prevUses=0}}
					<h1 class='slide-main'>Grow your ideas outward, into a Lotus flower</h1>
					<h2 class='slide-sub'>AI: Google Search, Sentiment Analysis</h2>
				{{/tool-slide}}
		{{/swiper-slide}}

	  {{#swiper-slide class='tool__slide'}}
			{{#tool-slide title='SCAMPER' prevUses=3}}
				<h1 class='slide-main'>Run through the SCAMPER checklist for thorough ideations</h1>
				<h2 class='slide-sub'>AI: Image Recognition, Sentiment Analysis</h2>
			{{/tool-slide}}
		{{/swiper-slide}}

	  {{#swiper-slide class='tool__slide'}}
			{{#tool-slide title='Future Fruit' prevUses=3}}
				<h1 class='slide-main'>Imagine future scenarios with varying outcomes</h1>
				<h2 class='slide-sub'>AI: Image Recognition, Sentiment Analysis</h2>
			{{/tool-slide}}
		{{/swiper-slide}}

	  {{#swiper-slide class='tool__slide'}}
			{{#tool-slide title='Slice and Dice' prevUses=0}}
				<h1 class='slide-main'>Focus on improving individual parts of the whole</h1>
				<h2 class='slide-sub'>AI: Image Recognition, Sentiment Analysis</h2>
			{{/tool-slide}}
		{{/swiper-slide}}
	{{/swiper-container}}

	{{ember-particles class='login__particles'
		options=(ember-particles-options
			'particles.number.value' 60
			'particles.number.density.enable' true
			'particles.move.straight' true
			'particles.size.value' 10
			'particles.size.anim.enable' true
			'interactivity.events.onclick.enable' false
		)}}

	{{outlet}}
</div>
