<div class='lotus__container layout-column'>
	<div class='flex'>
		{{outlet}}
	</div>

	<footer class='lotus-blossom__footer layout-row layout-align-space-between-center'>
		<h1 class='footer__title'>Lotus Blossom</h1>

		<button class='ai__select'>
			{{fa-icon 'eye'}}
		</button>
	</footer>
</div>
