@import 'reset';
@import 'ember-paper';

$eurekai-blue: #1e2642;
$eurekai-purple: #e06fe7;
$eurekai-lightblue: #26408b;
$eurekai-darkpurple: #7e52a0;
$eurekai-pink: #d295fb;
$eurekai-sky: #162834;

html {
	font-size: 8px;
	height: 100vh;
}

body {
	height: 100%;
	max-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

.login__container {
	background-color: $eurekai-blue;
	height: 100vh;
}

.login__logo {
	color: $eurekai-purple;
	font-size: 8rem;
	font-family: 'Patua One', sans-serif;
	z-index: 2;
}

.login__particles {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}
.login__link {
	z-index: 2;
}

.login__button {
	background: $eurekai-blue;
	border: 2px solid white;
	border-radius: 1rem;
	color: white;
	font-size: 3rem;
	margin-top: 3rem;
	text-transform: uppercase;
	padding: 2rem 4rem;
	transition: 0.2s;
	z-index: 2;

	&:hover {
		background: $eurekai-lightblue;
		transition: 0.2s;
	}
}

.tools__container {
	background-color: black;
	height: 100vh;
}

.tools__header {
	background-color: $eurekai-blue;
	color: white;
	height: 5vh;
	padding: 2rem;
	z-index: 2;
}

.header__logo {
	color: white;
	font-size: 3rem;
}

.header__profile {
	font-size: 3rem;
}

.tool__slide {
	height: 70vh;
	color: white;
	background-color: rgba(30,38,66, 0.98);
	border-radius: 3rem;
	font-family: "Merriweather", serif;
}

.tool__slide + .tool__slide {
	margin-left: 5rem;
}

.tools-index {
	height: 95vh;
}

.tool-slide__container {
	height: 100%;
	padding: 3rem;
	border: 6px solid $eurekai-darkpurple;
	border-radius: 3rem;
	transition: 0.2s;

	&:hover {
		border-color: white;
		transition: 0.2s;
	}
}

.slide-main {
	text-align: center;
	font-size: 4rem;
}

.slide-sub {
	font-size: 3rem;
	margin: 3rem 0;
	position: absolute;
	bottom: 0px;
}

.tool-slide__title {
	font-size: 3rem;
}

.slide__image {
	img {
		height: 20rem;
		margin-top: 4rem;
	}
}
