<div class='login__container layout-column layout-align-center-center'>
	<h1 class='login__logo'>eurek.AI</h1>

	{{#link-to 'tools'}}
		<button class='login__start'>
			Get started
		</button>
	{{/link-to}}

	{{outlet}}
</div>
