<div class='tools__container'>
	<header class='tools__header layout-row layout-align-space-between-center'>
		<h1 class='header__logo'>eurek.AI</h1>

		{{fa-icon 'user' class='header__profile'}}
	</header>

	{{outlet}}
</div>
